<!DOCTYPE html>

{{ $.Scratch.Delete "social-list" }}
<!---->
{{ $social := slice "twitter" "github" "instagram" "linkedin"}}
<!---->
{{ range $social }}
<!---->
{{ if isset site.Params . }}
<!---->
{{ $.Scratch.Add "social-list" (slice .) }}
<!---->
{{ end }}
<!---->
{{ end }}

<html lang="{{ site.LanguageCode }}">
{{ partial "head.html" . }}
<style>
  .home {
    max-width: calc(2 * var(--narrow));
    min-height: calc(100% - var(--header) - var(--footer));
    padding-top: var(--y-gap);
    padding-bottom: var(--y-gap);
  }
</style>

<body class="not-ready" data-menu="{{ isset site.Menus `main` }}">
  {{ partial "header.html" . }}

  <main class="main">{{.Content}} </main>

  <main class="main">{{ block "main" . }} {{ end }} </main>

  {{ partial "footer.html" . }}
</body>

</html>